<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="fragments/header :: head"> </th:block>
</head>
<body>
<div class="container">
    <br>

    <nav>
        <th:block th:replace="fragments/nav :: nav"></th:block>
    </nav>
     <br>
    <h1>Custom Query/Native Query </h1>
    <a class="btn btn-primary" th:href="@{/addUserPage}"  role="button" >Add User</a>
    <br>

    <table class="table table-striped">
        <thead>
        <th scope="row">#ID</th>
        <th scope="row">Name</th>
        </thead>
        <tbody>
        <tr th:each="user : ${userLists}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
        </tr>
        </tbody>
    </table>
    <br>



    <footer>
<th:block th:include="fragments/footer :: footer"></th:block>
    </footer>

</div>
</body>
</html>